body{
    font-family: Lato, sans-serif;
    

}
#footBox{
border-top:1px solid black;
width:100%;
height:600px;
display: grid;
grid-template-columns: auto auto auto;
}
.footerTitle{
color:#3c3c3c;
}
.footerContent{
color:#858578;
font-weight: lighter;
font-size:medium;

letter-spacing: 2px;
}

button{
width:100px;
height:50px;
background-color: #3c3c3c;
color:white;
}
input{
border:none;
border-bottom:1px solid black;


}
::placeholder{
border:none;
}
#footLeft{

}

#footCenter{

}

#footRight{


}