*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
#login{
    /* border: 2px solid red; */
    margin-top: 230px !important;
    width: 35%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 80px !important;
}
#login>h1{
    text-align: center;
}
/* #gl>div>h1 {
    text-align: center;
} */
#fb{
    background-color: #38548b;
    color: white;
    width: 80%;
    margin: auto; 
    height: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
}
#fb:hover{
    background-color: #4f638a;

}
#gl:hover{
    background-color: #df7163;

}
#gl{
    background-color: #DD4B39;
    color: white;
    width: 80%;
    margin: auto;
    height: 50px;
    margin-top: 4px;
    margin-bottom: 20px;
    /* padding: 2.5%; */
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
}
#gl>div>h2,#fb>div>h2{
    /* padding-top: 1px; */
    text-align: center;
    font-weight: normal;
    margin-top: 14px;
    /* font-size: 32px; */
    font-size: 18px;
}
.name{
    width: 80%;
    margin: auto;
    margin-top: 5px;
    /* height: 50px; */
}
.name > label
{
    letter-spacing: 2px;
    font-weight: 500;
    color: #3C3C3C;
}
#login>div>input{
    width: 100%;
    height: 45px;
    font-size: 22px;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 8px ;
    outline: none;
}
#login>div>label{
    cursor: pointer;
    line-height: 30px;
    font-size: medium;
}
#sub{
    background-color: #3C3C3C;
    height: 50px;
    margin-top: 15px;
    width: 80%;
    box-sizing: border-box;
    cursor: pointer;
}
#sub:hover
{
    cursor: pointer;
    background-color: #202020;
}
#sub>h1{
    text-align: center;
    font-weight: normal;
    padding-top: 12px;
    font-size: 24px;
    color: white;
}
#dont{
    text-align: center;
    font-weight: normal;
    cursor: pointer;
}
#dont>a{
    text-decoration: none;
    color: black;
}
.ico{
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 10px;
}
#error{
    color: red;
    text-align: center
}
#pinked{
    display: none !important;
}
@media (min-width:600px) and (max-width:1000px){
    #login{
        width: 50%;
    }
}
@media (max-width:600px){
    #login{
        width: 70%;
    }
}

