
#nav
{
  z-index: 1;
    position: fixed;
    top: 0;
    background-color: white;
}
.nav-bar-cont
{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    justify-content: space-around;
}

.bar
{
    padding-left: 120px;
    padding-top: 30px;
}
.search > div
{
    width: 85%;
    margin: auto;
    margin-top: 30px;
    /* margin-left: 30px; */
    padding: 5px 10px;
}
.logo
{
    padding: 10px 0px 10px 8%;
    /* padding-left: 8%; */
}
.search-box input
{
    width: 50%;
    font-size: 20px;
    padding: 5px;
    padding-left: 40px;
    border-radius: 7px;
    border:1px solid rgb(182, 182, 182);
    outline: none;
}
.span-search
{
    font-size: 26px;
    color: black;
    position: absolute;
    margin: 8px 0px 0px 7px;
}
.bag-profile
{
    font-size: 28px;
    color: #3C3C3C;
    margin-top: -15px;
    margin-left: 30px;
}
.red-banner
{
    width: 100%;
}
.red-banner img{
    width: 100%;
}
.bar-icon:hover , .logo:hover , .bag-profile:hover, .red-banner:hover
{
    cursor: pointer;
}
.pop-up-cont
{
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    grid-template-columns: 50% 50%;
}
#navPopLeft-Right
{
    padding: 20px 10%;
}
#navPopLeft-Right img
{
    border-radius: 20px;
   height: 85%;
}
.pop-up-cont #navPopLeft-Left
{
    margin-top: 15px;
    padding-left: 100px;
    height: 320px;
    overflow-y: scroll;
}
.pop-up-cont #navPopLeft-Left a
{
    text-decoration: none; 
    color: black;         
}
#pinked{
    width: 15px;
    height: 15px;
    background-color: #FF6781;
    display: inline-block;
    position: absolute;
    margin-left: 42px;
    margin-top: 23px;
    border-radius: 50%;
    /* display: none; */
}


/* Alert popup css for each file */
          /* The actual popup */
          .popuptext {
            visibility: hidden;
            width: auto;
            font-weight: bold ;
            text-align: center;
            padding: 8px 10px;
            position: fixed;
            border-radius: 5px;
            z-index: 1;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
          }
          
          /* Toggle this class - hide and show the popup */
          .show {
            visibility: visible;
            animation: fadeIn 1s;
          }
          
          @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity:1 ;}
          }