.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  #controls
  {
    background-color: grey;
    border-radius:50%; 
    width:11px;
    height:10px;
    margin-left: 5px;
  }
  .slider{
      margin-top: 210px;
      position: relative;
      z-index: -1;
  }
  .slider img
  {
    border-radius: 20px;
  }
  .SHOP-ALL
  {
      font-family: 'Roboto', sans-serif;
      font-size: 45px;
      text-align: center;
      margin: 50px 0px;
  }
  #products-container
  {
      display: grid;
      grid-template-columns: repeat(4, 23%);
      justify-content: space-between;
      width: 80%;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      gap: 30px;
  }
  .card{
      border: none;
      height: 420px;
  }
  .card:hover
  {
      cursor: pointer;
  }
  .card img
  {
      width: 100%;
  }
  .description
  {
      padding: 0px 10px;
  }
  .description .rating
{
font-size: 12px;
letter-spacing: 2px;
font-weight: 500;
}
  .description .title
{
font-size: 14px;
font-weight: 500;
text-align: center;
font-family: sans-serif;
letter-spacing: 1px;
line-height: 1.3;
}
.description .price
{
  line-height: 0.2;
text-align: center;
font-size: 12px;
font-weight: 800;
}
.description .price .orignal-price
{
text-decoration: line-through;
color: rgb(177, 177, 177);
}
.description .price .sale-price
{
margin-left: 10px;
color: #FF6781;
}
.card .discount
{
position: absolute;
top: 0;
right: 0;
background-color: #919191;
color: white;
font-size: 12px;
padding: 5px 15px;
letter-spacing: 2px;
font-weight: lighter;
}
.card .discount
{
position: absolute;
top: 0;
right: 0;
background-color: #919191;
color: white;
font-size: 12px;
padding: 5px 15px;
letter-spacing: 2px;
font-weight: lighter;
}

.card button{
width: 100%;
height: 30px;
background-color: #FF6781;
color: white;
border: none;
position: absolute;
bottom: 0;
outline: none;
}
.card button:hover
{
  background-color: #ff4665;
}
.filter-bar
{
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
}
.filter-bar > div{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 40%;
  margin: auto;
}
.filter-bar select
{
  text-align: center;
  border: 2px solid black;
  font-size: 20px;
  height: 50px;
  width: 48%;
}
